* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .nameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .nameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .nameInput {
  color: #fff;
  font-weight: 100;
}

/* Room Page */
.room.page {
  background-color: #000;
  text-align: center;
}

.room.page .title {
  font-size: 200%;
  color: #fff;
}

.room.page .players {
  letter-spacing: 3px;
  padding-left: 0px;
  color: #fff;
}

.room.page .all-in-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Game Page */
.game.page {
  text-align: center;
}

.game.page .title {
  font-size: 200%;
}

.game.page .locations {
  padding-left: 0px;
}

.game.page .role-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}